doctype html
html
    head
        title="Logged"
        include ./head.pug
    body
        h1 You are logged in #{name}!!!
        p.msg Your password is #[span #{pass}], better don`t write it everywhere :P