doctype html
html
    head
        title="Login page"
        include ./head.pug
    body
        h1 Login page
        form(action="/auth/google" method="GET")
            div
                label Name:
                input(type="text" name="name")
            div
                label Password: 
                input(type="text" name="pass")
            input.submit(type="submit" value="Login")
            p.warning #{warning ? 'Write your login data!!!' : ''}